/* --- Effet zoom sur les images de la grille --- */
.grid img {
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.grid img:hover {
  transform: scale(1.08);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.bg-white:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
