<ng-container *ngIf="showSidebar()">
  <aside class="w-64 bg-gray-100 p-4 flex flex-col min-h-screen">
    <h3 class="text-lg font-bold mb-4">Menu</h3>
    <ul class="space-y-2">

      <li *ngFor="let item of getMenu()">
        <!-- Lien simple -->
        <a *ngIf="!item.children" [routerLink]="item.route" class="hover:text-blue-500 flex items-center">
          <i [class]="item.icon + ' mr-2'"></i>{{ item.title }}
        </a>

        <!-- Sous-menu -->
        <div *ngIf="item.children">
          <button (click)="toggleSubmenu(item.title)"
                  class="w-full text-left hover:text-blue-500 flex items-center justify-between">
            <span><i [class]="item.icon + ' mr-2'"></i>{{ item.title }}</span>
            <i class="fas" [ngClass]="{
              'fa-chevron-down': !showSubmenus[item.title],
              'fa-chevron-up': showSubmenus[item.title]
            }"></i>
          </button>
          <ul *ngIf="showSubmenus[item.title]" class="pl-6 mt-2 space-y-1">
            <li *ngFor="let child of item.children">
              <a [routerLink]="child.route" class="hover:text-blue-500 flex items-center">
                <i [class]="child.icon + ' mr-2'"></i>{{ child.title }}
              </a>
            </li>
          </ul>
        </div>
      </li>

    </ul>
  </aside>
</ng-container>
